<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Dodaj użytkownika</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="addUserForm" action="/User/AddUser" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="firstName">Imię</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" maxLength="50" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Nazwisko</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" maxLength="150" required>
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Data urodzenia</label>
                        <input type="text" class="form-control datepicker" id="birthDate" name="birthDate" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Płeć</label>
                        <select class="form-control" id="gender" name="gender" required>
                            <option value="">Wybierz płeć</option>
                            <option value="Mężczyzna">Mężczyzna</option>
                            <option value="Kobieta">Kobieta</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary mb-3" onclick="AddParameter()">Możesz dodać coś od siebie!</button>

                    <div class="container" id="additionalParametersForm"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-success" id="confirmDeleteButton">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>